<% meta title: "Home", description: "This field creates an SEO meta description." %>



<div class="bg-white shadow sm:rounded-lg mt-5">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Upload your leads CSV.</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>Upload your CSV of your leads that you want to add to the database.</p>
      <p>The required headers are: company_name & website</p>
    </div>
    
        <div class="w-full sm:max-w-xs mt-5">
              <%= form_tag({controller: "home", action: :create}, multipart: true) do %>
                <%= file_field_tag :file %>
                <%= submit_tag "Upload", class:"mt-2 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm" %>
              <% end %>
        </div>
        
  </div>


  <div class="bg-gray-50 sm:rounded-lg mt-10">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Run Email Finder</h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <p>Once you have uploaded new leads to the database, click the button below to run the API email finder using Hunter.io.</p>
      </div>
      <div class="mt-5">
        <%= button_to "Update Emails", update_emails_path, method: :post, class:"inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm" %>

      </div>
    </div>
  </div>
</div>


<div class="bg-white shadow sm:rounded-lg mt-5 mb-20">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Export Leads Tool</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>Select a starting ID value and an ending ID value to export all leads between these two ID values.</p>
    </div>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>Total leads in the system: <%= @company_count %></p>
    </div>

    <%= form_tag({controller: "export", action: :create}) do %>
      <div class="mt-5 sm:items-center">
        <div class="w-full sm:max-w-xs">
          <label for="email" class="sr-only">Email</label>

          <div class="mt-2 max-w-xl text-sm text-gray-500">
            <p>Starting ID Value:</p>
          </div>
          <%= text_field_tag :start_id, nil, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "1", required: true %>

          <div class="mt-2 max-w-xl text-sm text-gray-500">
            <p>Ending ID Value:</p>
          </div>
          <%= text_field_tag :end_id, nil, class: "block w-full mt-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "20", required: true %>

        </div>
        
        <%= submit_tag "Run", class: "mt-2 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2", formtarget: "_blank" %>
        <%= link_to "Export", export_download_path, class: "mt-2 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2", formtarget: "_blank" %>

      </div>
    <% end %>




  </div>
</div>